.contenedor{
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: #F3F4F5;
}

.formulario{
    background: #ffffff;
    padding: 1rem;
    width: 80%;
    /* height: 50%; */
}

.formulario .row{
    height: 100%;
    width: 50%;
    
}

@media(max-width: 717px){

    .formulario{
        width: 90%;
    }
    
    .formulario .row{
        width: 100%;
    }
}
@media(max-width: 718px){
    .formulario .row{
        width: 100%;
    }
}